@media all and (max-width: 1000px) {
    
    .top-wrapper h1 {
      font-size: 32px;
    }
    
    .top-wrapper h2 {
      font-size: 20px;
    }
  }
  
  /* Untuk Smartphone */
  @media all and (max-width: 670px) {

    footer {
      text-align: center;
    }
    
    .btn {
      width: 100%;
    }
    
    .facebook {
      margin-bottom: 10px;
    }
    
    .top-wrapper {
      text-align: left;
      background-size: none;
    }
    
    /* Tambahkan CSS untuk header-right */
    .header-right {
      display: none;
    }
    
    /* Tambahkan CSS untuk menu-icon */
    .menu-icon {
      display: block;
    }
    
    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
    }
    .top-wrapper h2 {
        font-size: 18px;
        line-height: 24px;
    }
    
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }
  }
